<h2>Movies</h2>
<div>
  {{#each this as |movie|}}
    <p>name: {{movie.name}}</p>
    <p>year: {{movie.year}}</p>
    <p>country: {{movie.country}}</p>
    <p>genre {{movie.genre}}</p>
  {{/each}}
</div>